.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.2fr 0.3fr;
  margin-top: 50px;
}

.image-description {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
}

h1 {
  font-family: "Big Shoulders Stencil";
  text-align: left;
  font-weight: 700;
  font-size: 4rem;
  border-bottom: 3px double grey;
}

h2 {
  font-weight: 700;
}

.LinksHP {
  border: 2px solid dodgerblue;
  border-radius: 30px;
  color: dodgerblue;
  font-weight: 700;
  background-color: beige;
  margin-top: 2px;
  padding-left: 2ch;
  padding-right: 2ch;
  margin-bottom: 1ch;
}

#register-homepage {
  font-size: larger;
  width: 50%;
  height: fit-content;
  text-align: center;
  padding: 1ch;
  background-color: beige;
  border-right: 2px double dodgerblue;
  border-left: 2px groove dodgerblue;
}

#ideas-homepage {
  margin-top: 2ch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-bottom: 1ch;
  padding-left: 2ch;
  border-left: 2px groove grey;
  background-color: dodgerblue;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.imgHP {
  margin: 1ch;
  width: 20vw;
}

#ideas-box {
  color: beige;
  font-weight: 500;
  background-color: dodgerblue;
  border: 2px solid beige;
  border-radius: 30px;
  padding-right: 2ch;
  padding-left: 2ch;
  margin-right: 2ch;
}

#ideas-box:hover {
  color: dodgerblue;
  background-color: beige;
}

#ideas-image {
  height: 25vh;
}

.description {
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 3px double grey;
  border-top: 3px double grey;
  padding: 2ch;
  margin-top: 1ch;
}

.register-ideas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 2/5;
  margin-top: 20px;
}

.LinksHP:hover {
  color: beige;

  background-color: dodgerblue;
}

section {
  grid-column: 2/5;
}

article {
  grid-column: 3/4;
}

.forum-homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-content: center;
  margin-top: 20px;
  padding-top: 1ch;
  padding-left: 2ch;
  padding-right: 2ch;
  font-size: 1.5rem;
  height: fit-content;
  border-right: 2px groove dodgerblue;
  border-left: 2px groove dodgerblue;
  background-color: beige;
}

.text-boxes {
  background-color: beige;
}

@media (width < 600px) {
  .home-page {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.2fr 0.1fr;
    margin-top: 80px;
  }

  .LinksHP {
    border: 2px solid dodgerblue;
    border-radius: 30px;
    color: dodgerblue;
    font-weight: 400;
    background-color: beige;
    margin-top: 2px;
    margin-bottom: 1ch;
  }

  .imgHP {
    margin: 1ch;
    width: 50vw;
  }

  .imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #ideas-image {
    width: 50vh;
    padding-right: 2ch;
    background-color: dodgerblue;
  }

  #register-homepage {
    font-size: larger;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 1ch;
    background-color: beige;
    border-right: 2px double dodgerblue;
    border-left: 2px groove dodgerblue;
  }

  #ideas-homepage {
    margin-top: 2ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    width: 100%;
    height: 60vh;
    text-align: center;
    border-left: 2px groove grey;
    background-color: dodgerblue;
  }

  .forum-homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 5px;
    padding-top: 1ch;
    padding-left: 2ch;
    padding-right: 2ch;
    font-size: 1.5rem;
    height: fit-content;
    border-right: 2px groove dodgerblue;
    border-left: 2px groove dodgerblue;
    background-color: beige;
  }

  .description {
    text-align: center;
    font-size: 1.4rem;
    border-bottom: 3px double grey;
    border-top: 3px double grey;
  }
}
