footer {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 4px 5px 3px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  padding-left: 20px;
  font-weight: 700;
}

li {
  padding-left: 2ch;
  text-decoration: underline;
}
