form,
main {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
}

label {
  margin-top: 1ch;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 5ch;
  margin-bottom: 625px;
}

input {
  background-color: white;
  width: 120%;
  border-radius: 5px;
  padding-top: 0.5ch;
}

#register-button {
  font-weight: 600;
  color: beige;
  background-color: dodgerblue;
  border-radius: 10px;
  margin-bottom: 2ch;
  margin-top: 2ch;
}

#register-button:hover {
  cursor: pointer;
  color: dodgerblue;
  font-weight: 600;
  background-color: beige;
  border: 0.5px solid dodgerblue;
}

#login-link:hover {
  color: dodgerblue;
  font-weight: 500;
}

p[role="alert"] {
  color: red;
}
